[build-system]
requires = ["setuptools", "wheel", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "infer_subc/_version.py"
version_scheme = "post-release"
local_scheme = "dirty-tag"
#git_describe_command = "git describe --dirty --tags --long --match v* --first-parent"

[tool.black]
line-length = 120

